################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EntitiesCreator/EntitiesCreator.Application/obj
/EntitiesCreator/EntitiesCreator.Application/bin
/EntitiesCreator/.vs/EntitiesCreator/v17
/EntitiesCreator/EntitiesCreator.Domain/bin
/EntitiesCreator/EntitiesCreator.Domain/obj
/EntitiesCreator/EntitiesCreator.Infrastructure/bin
/EntitiesCreator/EntitiesCreator.Infrastructure/obj
/EntitiesCreator/EntitiesCreator.WebApp/bin
/EntitiesCreator/EntitiesCreator.WebApp/obj
EntitiesCreator/.vs/EntitiesCreator/DesignTimeBuild/.dtbcache.v2
EntitiesCreator/.vs/EntitiesCreator/project-colors.json

.fake
.ionide